<header><h1>USP Section</h1></header>
<main>
  <div class="main">
    <button><i class="fa-solid fa-martini-glass-empty"></i></button>
    <h4>Beverages included</h4>
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        interdum eleifend augue, quis rhoncus purus fermentum.
      </p>
    </div>
    <a href="#"> Read more </a>
  </div>
  <div class="main">
    <button><i class="fa-regular fa-credit-card"></i></button>
    <h4>Stay First, Pay After!</h4>
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        interdum eleifend augue, quis rhoncus purus fermentum.
      </p>
    </div>
    <a href="#"> Read more </a>
  </div>
  <div class="main">
    <button><i class="fa-solid fa-utensils"></i></button>
    <h4>24 Hour Restaurant</h4>
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        interdum eleifend augue, quis rhoncus purus fermentum.
      </p>
    </div>
    <a href="#"> Read more </a>
  </div>
  <div class="main">
    <button><i class="fa-solid fa-droplet"></i></button>
    <h4>Spa Included!</h4>
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        interdum eleifend augue, quis rhoncus purus fermentum.
      </p>
    </div>
    <a href="#"> Read more </a>
  </div>
</main>
