* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  flex-wrap: wrap;
  margin-top: 100px;
  .innerContainer {
    width: 370px;
    height: 280px;
    box-shadow: 1px 5px 20px black;
    border-radius: 5px;
    img {
      width: 100%;
      height: 80%;
      border-radius: 5px;
    }
    p {
      text-align: center;
      font-weight: bold;
      color: #75c5cf;
    }
  }
}
button {
  width: 100%;
  margin-top: 10px;
  height: 35px;
}
