@use "three-dots" with (
  $dot-width: 6px,
  $dot-height: 6px,
  $dot-color: white
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cancel,
.booked {
  padding: 3px;
  font-size: 14px;
}
.th {
  width: 50px !important;
}
.cancel {
  width: 110px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
