<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Customer</th>
        <th scope="col">Status</th>
        <th scope="col">Check in</th>
        <th scope="col">Check out</th>
        <th scope="col">Total Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let items of bookedRooms; let i = index"
        [ngClass]="{ 'table-info': justBooked === items.id }"
        #booked
      >
        <th scope="row">{{ items.id }}</th>
        <td>Name: {{ items.customerName }}</td>
        <td>
          <button class="btn btn-secondary booked">Booked</button>
        </td>
        <td>{{ items.checkInDate.split("T")[0] }}</td>
        <td>{{ items.checkOutDate.split("T")[0] }}</td>
        <td>{{ items.totalPrice | currency }}</td>
        <td>
          <button class="btn btn-danger cancel" (click)="deleting(items.id, i)">
            <div
              class="dot-pulse loading"
              *ngIf="loading && i === currentlyDeleting"
            ></div>
            <div *ngIf="!(this.loading && i === this.currentlyDeleting)">
              Cancel Booking
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
