<section
  (mouseover)="removeingHiddingClass(hiddenElement)"
  (mouseleave)="addingHiddingClass(hiddenElement)"
>
  <img [src]="room.images[0].source" alt="" />
  <div class="hiddenDiv hidding" #hiddenElement>
    <div class="priceAndNameOfHotel">
      <div class="type">
        <p>{{ room.name }}</p>
      </div>

      <div class="price">
        <p class="priceAmount">{{ room.pricePerNight | currency }}</p>
        <p class="type">a night</p>
      </div>
    </div>
    <button
      class="btn btn-primary bookNow"
      (click)="onBookRoom(room.roomTypeId, room.id)"
    >
      Book Now
    </button>
  </div>
</section>
