<main class="filteringWithRoomType">
  <button
    *ngFor="let items of fillterOptions; let i = index"
    class="btn"
    [ngClass]="{
      'btn-secondary': currentIndexOfParems != i,
      'btn-info': currentIndexOfParems === i
    }"
    (click)="onNavigate(i)"
  >
    {{ items }}
  </button>
</main>
<section>
  <div class="filter">
    <div class="searchParent">
      <input
        type="text"
        name=""
        id=""
        placeholder="search"
        [(ngModel)]="searchInject.searching"
        class="form-control search"
      />
    </div>
    <div class="priceFilter">
      <div class="priceRange">
        <input
          type="text"
          placeholder="from"
          [(ngModel)]="filteringOptionsInput.from"
          class="form-control"
        />
        <input
          type="text"
          placeholder="to"
          [(ngModel)]="filteringOptionsInput.to"
          class="form-control"
        />
        <button
          (click)="onAppleFilter()"
          class="btn"
          [ngClass]="{ 'btn-info': fillterOn, 'btn-secondary': !fillterOn }"
        >
          apple Filter
        </button>
      </div>
      <div>
        <p *ngIf="!searchInject.searching">items Found {{ lengthOfItems }}</p>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
