<main>
  <button
    *ngFor="let items of fillterOptions; let i = index"
    class="btn"
    [ngClass]="{
      'btn-secondary': currentIndexOfParems != i,
      'btn-info': currentIndexOfParems === i
    }"
    (click)="onNavigate(i)"
  >
    {{ items }}
  </button>
  <p>items Found {{ lengthOfItems }}</p>
</main>
<section>
  <div class="filter">
    <input
      type="text"
      name=""
      id=""
      placeholder="search"
      [(ngModel)]="searchInject.searching"
    />
    <input
      type="text"
      placeholder="from"
      [(ngModel)]="filteringOptionsInput.from"
    />
    <input
      type="text"
      placeholder="to"
      [(ngModel)]="filteringOptionsInput.to"
    />
    <button (click)="onAppleFilter()">apple Filter</button>
  </div>
</section>
<router-outlet></router-outlet>
