<main class="post">
  <section>
    <div class="imgSlider">
      <button (click)="onGoBack()" class="goBack btn btn-primary">
        GO BACK
      </button>
      <img [src]="photosOfRoom![currentPhoto].source" alt="" />
      <div class="switchers">
        <i
          class="fa-solid fa-arrow-left"
          (click)="onPrev()"
          style="cursor: pointer"
        ></i>
        <i
          class="fa-solid fa-arrow-right"
          (click)="onNext()"
          style="cursor: pointer"
        ></i>
      </div>
      <ul class="switchingPhotos">
        <li
          *ngFor="let items of photosOfRoom; let i = index"
          style="cursor: pointer"
          [ngClass]="{ swichersColor: i === currentPhoto }"
          (click)="onChangePhoto(i)"
        ></li>
      </ul>
    </div>
  </section>
  <app-booking-form [roomInfo]="roomInformation"></app-booking-form>
</main>
<app-overview [otherRooms]="otherRooms"></app-overview>
